<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419846545769-lf10eqdfdv6g4cnb0svdd0j3etba98f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419846545769-lf10eqdfdv6g4cnb0svdd0j3etba98f3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-oAtV52QCDdYEmhG0NW8pnjJsXY0sD0U</string>
	<key>GCM_SENDER_ID</key>
	<string>419846545769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wetterek.wms</string>
	<key>PROJECT_ID</key>
	<string>wmsapp-dce75</string>
	<key>STORAGE_BUCKET</key>
	<string>wmsapp-dce75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419846545769:ios:d6a9d1198a993c17a19df8</string>
</dict>
</plist>